:root {
    /* Very dark desaturated blue (text)*/
    --primary-one: hsl(238, 29%, 16%);
    /* Soft red (text)*/
    --primary-two: hsl(14, 88%, 65%);
    /* Background gradient (Soft violet - Soft blue)*/
    --gradient-one: linear-gradient(180deg, hsl(273, 75%, 66%), hsl(240, 73%, 65%));
    /* Very dark grayish blue (text)*/
    --neutral-one: hsl(237, 12%, 33%);
    /* Dark grayish blue (text)*/
    --neutral-two: hsl(240, 6%, 50%);
    /* Light grayish blue */
    --divider: hsl(240, 5%, 91%);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html,
body {
    width: 100%;
    height: 100%;
}

body {
    font-size: 12px;
    font-family: 'Kumbh Sans', sans-serif;
    background: var(--gradient-one);
}

main {
    padding: 10rem 0 5rem 0;
}

section {
    max-width: 1010px;
    border-radius: 30px;
}

.illustration-desktop>figure {
    min-width: 100%;
}

.illustration-desktop__image {
    max-width: 100%;
    transform: translateX(-10%) scale(1.1);
}

.illustration-desktop__background {
    width: 182%;
    transform: translate(-48%, -36%);
}

.illustration-mobile {
    transform: translateY(-51%);
}

.illustration-mobile>figure {
    transform: translateX(-5%);
    max-width: 100%;
}

.illustration-mobile__image {
    transform: translateX(-5%);
    max-width: 100%;
}

.illustration-mobile__background {
    max-width: 90%;
}

.illustration__box {
    position: relative !important;
    z-index: 2;
    transform: translate(-46%, 22%);
    width: 22%;
}

.illustration__box>img {
    width: 100%;
}

.faq {
    margin-top: -6rem;
}

.faq h1 {
    color: var(--primary-one);
}

.accordion-item {
    border: none;
    border-bottom: 1px solid var(--divider) !important;
}

.accordion-button {
    padding: 1rem 1.25rem 1rem .2rem !important;
    font-size: 13px !important;
    color: var(--neutral-one) !important;
}

.accordion-button:hover,
.accordion-button:visited,
.accordion-button:focus {
    color: var(--primary-two) !important;
    box-shadow: none !important;
}

.accordion-button:not(.collapsed) {
    color: var(--neutral-one) !important;
    background: none !important;
    font-weight: 700;
    box-shadow: none !important;
}

.accordion-button::after {
    background-image: url(../images/icon-arrow-down.svg) !important;
    color: var(--primary-two) !important;
    width: 1rem !important;
    height: 12px !important;
    background-size: 12px !important;
    background-position: center;
}

.accordion-body {
    padding-left: .25rem !important;
    padding-top: 0rem !important;
    color: var(--neutral-two) !important;
}

.attribution {
    font-size: 11px;
    text-align: center;
    z-index: 3;
}

.attribution a {
    color: var(--primary-two);
    text-decoration: none;
}

@media (min-width: 1450px) {
    .illustration-desktop__background {
        width: 170%;
    }
}